@using MetalMastery.Web.App_LocalResources
@model MetalMastery.Web.Areas.Admin.Models.ThingModel
@{
    ViewBag.Title = MmResources.Details;
}
<fieldset>
    <table>
        <tr>
            <td>
                <div class="display-label">Name</div>
            </td>
            <td>
                <div class="display-field">@Model.Name</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">Description</div>
            </td>
            <td>
                <div class="display-field">@Model.Description</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">ShowOnHome</div>
            </td>
            <td>
                <div class="display-field">@Model.ShowOnHome</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">ShowForAll</div>
            </td>
            <td>
                <div class="display-field">@Model.ShowForAll</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">Rating</div>
            </td>
            <td>
                <div class="display-field">@Model.Rating</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">Image1</div>
            </td>
            <td>
                <div class="display-field">@Model.Image1</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">Image2</div>
            </td>
            <td>
                <div class="display-field">@Model.Image2</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">Comment</div>
            </td>
            <td>
                <div class="display-field">@Model.Comment</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">ImageRes</div>
            </td>
            <td>
                <div class="display-field">@Model.ImageRes</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">Format</div>
            </td>
            <td>
                <div class="display-field">@(Model.Format == null ? "None" : Model.Format.Name)</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">Material</div>
            </td>
            <td>
                <div class="display-field">@(Model.Material == null ? "None" : Model.Material.Name)</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">Orders</div>
            </td>
            <td>
                <div class="display-field">@(Model.Orders == null ? "None" : Model.Orders.Count.ToString())</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">State</div>
            </td>
            <td>
                <div class="display-field">@(Model.State == null ? "None" : Model.State.Name)</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">Tags</div>
            </td>
            <td>
                <div class="display-field">@(Model.Tags == null ? "None" : Model.Tags.Count.ToString())</div>
            </td>
        </tr>
    </table>
</fieldset>
<p>
    @Html.ActionLink(MmResources.Edit, "Edit", new { id = Model.Id }) |
    @Html.ActionLink(MmResources.BackToList, "Index")
</p>
