@using MetalMastery.Web.App_LocalResources
@model IEnumerable<MetalMastery.Web.Areas.Admin.Models.ThingModel>

@{
    ViewBag.Title = MmResources.Things;
}

<p>
    @Html.ActionLink(MmResources.Create, "Create")
</p>
<table>
    <tr>
        <th>
            @MmResources.Name
        </th>
        <th>
            @MmResources.Description
        </th>
        <th>
            ShowOnHome
        </th>
        <th>
            @MmResources.Published
        </th>
        <th>
            @MmResources.Rating
        </th>
        <th>
            ImageRes
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
			@item.Name
        </td>
        <td>
			@item.Description
        </td>
        <td>
			@item.ShowOnHome
        </td>
        <td>
			@item.ShowForAll
        </td>
        <td>
			@item.Rating
        </td>
        <td>
			@item.ImageRes
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>


