@using MetalMastery.Web.App_LocalResources
@model MetalMastery.Web.Models.LogOnModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "LogIn";
}
<script type="text/javascript">
    $(document).ready(function () {
        if ("@ViewBag.Error".length > 0) {
            MM.Notification.show("@ViewBag.Error", "error");
        }
    });
</script>
<form action="/user/login">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div id="signin">
            <fieldset class="textbox">
                <div class="editor-label">@MmResources.EmailLbl</div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </div>

                <div class="editor-label">@MmResources.PasswordLbl</div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </fieldset>
            <fieldset class="subchck">
                <div class="remember">
                    <div>
                        @Html.CheckBoxFor(model => model.RememberMe)
                    </div>
                    <div>
                        @MmResources.RememberMeLbl
                    </div>
                </div>
                <input type="submit" class="button" value="@MmResources.EnterBtn" />
            </fieldset>
            @Html.ActionLink(MmResources.WantToReg, "LogOn")
        </div>
    }
</form>
    
