@using MetalMastery.Web.App_LocalResources
<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        @*<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />*@
        <link href="@Url.Content("~/Content/site.less")" rel="stylesheet/less" type="text/css"/>
        <script src="@Url.Content("~/Scripts/jquery-1.7.1.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/knockout-2.0.0.debug.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/MetalMastery/MmResJs.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/MetalMastery/MmBaseScript.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/less-1.2.1.js")" type="text/javascript"></script>
    </head>

    <body>
        <div class="root-layout">
            <table>
                <tr class="top-row">
                    <td class="l-column">
                        <div class="tl-corner"></div>
                    </td>
                    <td class="c-column">
                        <div class="t-border"></div>
                    </td>
                    <td class="r-column">
                        <div class="tr-corner"></div>
                    </td>
                </tr>
                <tr class="center-row">
                    <td class="l-column">
                        <div class="l-border"></div>
                    </td>
                    <td class="c-column">
                        <div class="center">
                            <div class="logo"></div>
                            <div class="logo-txt"></div>
                        </div>
                        @RenderBody()
                    </td>
                    <td class="r-column">
                        <div class="r-border"></div>
                    </td>
                </tr>
                <tr class="bottom-row">
                    <td class="l-column">
                        <div class="bl-corner"></div>
                    </td>
                    <td class="c-column">
                        <div class="b-border"></div>
                    </td>
                    <td class="r-column">
                        <div class="br-corner"></div>
                    </td>
                </tr>
            </table>
        </div>   
        @*<div class="top-button"><div>test</div></div>  
        <div class="bottom-button"><div>test</div></div> 
        <div class="left-button"><div>test</div></div>  
        <div class="right-button"><div>test</div></div> *@
        <form id='signin' action="">
            <fieldset class="textbox">
                <label class="username">
                    <span>@MmResources.EmailLbl</span>
                    <input id="email" name="email" type="text" data-bind="value: email"/>
                </label>
                <label class="password">
                    <span>@MmResources.PasswordLbl</span>
                    <input id="password" name="password" type="password" data-bind="value: password"/>
                </label>
            </fieldset>
            <fieldset class="subchck">
                <label class="remember">
                    <input id="remember_me" name="remember_me" type="checkbox" value="1"/>
                    <span>@MmResources.RememberMeLbl</span>
                </label>
                <button class="button" type="button" data-bind="click: $root.logIn">@MmResources.EnterBtn</button>
            </fieldset>
            <p>
                <a class="reglink" href="javascript:void(0)">@MmResources.WantToReg</a>
            </p>
        </form>
    </body>
</html>
