@using MetalMastery.Admin.App_LocalResources
@model MetalMastery.Admin.Models.FormatModel

@{
    ViewBag.Title = MmAdminResources.Delete;
}

<h3>@MmAdminResources.DeleteConfirmQuestion</h3>
<fieldset>

    <div class="display-label">@MmAdminResources.Name</div>
    <div class="display-field">@Model.Name</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="@MmAdminResources.Delete" /> |
        @Html.ActionLink(MmAdminResources.BackToList, "Index")
    </p>
}


