@using MetalMastery.Web.App_LocalResources
@model IEnumerable<MetalMastery.Web.Areas.Admin.Models.TagModel>

@{
    ViewBag.Title = MmResources.Tags;
}

<p>
    @Html.ActionLink(MmResources.CreateNew, "Create")
</p>
<table>
    <tr>
        <th>
            @MmResources.Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
			@item.Name
        </td>
        <td>
            @Html.ActionLink(MmResources.Edit, "Edit", new { id=item.Id }) |
            @Html.ActionLink(MmResources.Delete, "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>


