@using MetalMastery.Admin.App_LocalResources
@model IEnumerable<MetalMastery.Admin.Models.ArticleModel>

@{
    ViewBag.Title = MmAdminResources.Articles;
}

<p>
    @Html.ActionLink(MmAdminResources.CreateNew, "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            @MmAdminResources.Title
        </th>
        <th>
            @MmAdminResources.Text
        </th>
        <th>
            @MmAdminResources.CreateDate
        </th>
        <th>
            @MmAdminResources.Owner
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(MmAdminResources.Edit, "Edit", new { id=item.Id }) |
            @Html.ActionLink(MmAdminResources.Details, "Details", new { id=item.Id }) |
            @Html.ActionLink(MmAdminResources.Delete, "Delete", new { id=item.Id })
        </td>
        <td>
			@item.Title
        </td>
        <td>
			@item.Text
        </td>
        <td>
			@String.Format("{0:g}", item.CreateDate)
        </td>
        <td>
            @if (item.Owner != null)
            {
                @Html.DisplayTextFor(_ => item.Owner.Email).ToString()
            }
        </td>
    </tr>
}

</table>


