@using MetalMastery.Web.App_LocalResources
@model MetalMastery.Web.Areas.Admin.Models.FormatModel

@{
    ViewBag.Title = MmResources.Delete;
}

<h3>@MmResources.DeleteConfirmQuestion</h3>
<fieldset>

    <div class="display-label">@MmResources.Name</div>
    <div class="display-field">@Model.Name</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="@MmResources.Delete" /> |
        @Html.ActionLink(MmResources.BackToList, "Index")
    </p>
}


