@using MetalMastery.Admin.App_LocalResources
@model MetalMastery.Admin.Models.UserModel
<table>
    <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.Email)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.DisplayFor(model => model.Email)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="editor-label">
                @MmAdminResources.Role
            </div>
        </td>
        <td>    
            <div class="editor-field">
                @Html.DropDownListFor(model => model.RoleId, ((IEnumerable<MetalMastery.Core.Domain.Role>)ViewBag.PossibleRoles).Select(option => new SelectListItem
                   {
                       Text = (option == null ? "None" : option.Name),
                       Value = option.Id.ToString(),
                       Selected = (Model != null) && (option.Id == Model.RoleId)
                   }), @MmAdminResources.DefaultOption)
                @Html.ValidationMessageFor(model => model.RoleId)
            </div>
        </td>
    </tr>
</table>
