@using MetalMastery.Admin.App_LocalResources
@model MetalMastery.Admin.Models.UserModel

@{
    ViewBag.Title = MmAdminResources.Delete;
}

<h3>@MmAdminResources.DeleteConfirmQuestion</h3>
<fieldset>
    <div class="display-label">@MmAdminResources.Email</div>
    <div class="display-field">@Model.Email</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="@MmAdminResources.Delete" /> |
        @Html.ActionLink(MmAdminResources.BackToList, "Index")
    </p>
}


