@using MetalMastery.Web.App_LocalResources
@model IEnumerable<MetalMastery.Web.Areas.Admin.Models.ArticleModel>

@{
    ViewBag.Title = MmResources.Articles;
}

<p>
    @Html.ActionLink(MmResources.CreateNew, "Create")
</p>
<table>
    <tr>
        <th>
            @MmResources.Title
        </th>
        <th>
            @MmResources.Text
        </th>
        <th>
            @MmResources.CreateDate
        </th>
        <th>
            @MmResources.Owner
        </th>
        <th>
            @MmResources.Published
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
			@item.Title
        </td>
        <td>
			@item.Text
        </td>
        <td>
			@String.Format("{0:g}", item.CreateDate)
        </td>
        <td>
            @item.OwnerName
        </td>
        <td>
            @item.IsPublished
        </td>
        <td>
            @Html.ActionLink(MmResources.Edit, "Edit", new { id=item.Id }) |
            @Html.ActionLink(MmResources.Details, "Details", new { id=item.Id }) |
            @Html.ActionLink(MmResources.Delete, "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>


